/* Style for navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

.logo-section{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
  
}

.logo-link{
    text-decoration: none;
}


.logo {
    font-size: 35px;
    font-weight: 800;
    color: #FFC72C;
    font-family: 'Montserrat','Poppins',sans-serif;
}
.logo-border{

    width: 1px;
    height: 150%;
    background-color: #e0e0e0;

}

.highlight {
    color: green;
}

.search-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    border-radius: 12px;
    padding: 10px 12px;
    border: 1px solid #e0e0e0;
    width: 80%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    background: transparent;
    font-size: 16px;
    color: #333;
}

.search-icon {
    width: 20px;
    margin-right: 12px;
    opacity: 0.7;
    
}
.cart {
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    padding: 16px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.cart-icon{
    width: 25px;
    margin-right: 9px;
    filter: brightness(0) invert(1);
    font-weight: bold;
         
 }
 .cart-font{
     font-weight: bold;
     
 }

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.back-btn {
    background: none;
    border: 1px solid #ddd;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
}
